$color-background-body: rgb(233, 235, 252);
$color-primary-purple: rgb(173, 31, 234);
$color-primary-purple-light: rgb(199, 90, 246);

$color-primary-blue: rgb(70, 97, 230);
$color-primary-blue-hover: rgb(207, 215, 255);
$color-primary-blue-dark: rgb(55, 63, 104);
$color-white: rgb(255, 255, 255);
$color-white-lite: rgba(255, 255, 255, 0.5);
$color-primary-grey: rgb(242, 244, 254);
$color-prymary-text: rgb(100, 113, 150);

//Roadmap colors
$color-planned: #f49f85;
$color-in-progress: #ad1fea;
$color-live: #62bcfa;

//font
$font-primary: "Jost", sans-serif;
