.reply-form {
  padding-left: 7.5rem;
  height: 0;
  overflow: hidden;

  @include respond(breakpoint2) {
    padding-left: 0;
  }

  &:last-child {
    font-size: 1.3rem;
    color: $color-prymary-text;
  }
  transition: height 0.3s;
}
.reply-form-container {
  width: 100%;

  padding-top: 0.5rem;

  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  & textarea {
    width: 45rem;
    padding: 1rem;
    color: $color-prymary-text;
    background-color: $color-background-body;
    border-radius: 1rem 0.5rem 0.5rem 1rem;
    outline: none;
    border: 1px solid transparent;
    resize: none;
    font-family: inherit;
    font-size: 1.7rem;

    &:focus {
      border-color: $color-primary-blue;
      color: rgba(0, 0, 0, 0.5);
    }
    &::placeholder {
      font-size: 1.6rem;
    }

    /* Firefox */
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #ffffff;
      box-shadow: inset 0 0 5px grey;
      border-radius: 20px;
    }
    ::-webkit-scrollbar-button {
      height: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-primary-blue-dark;

      border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.show-reply {
  height: 15rem;
}
