.reply {
  width: 100%;
  padding: 2rem 0;
  padding-left: 7.5rem;

  @include respond(breakpoint2) {
    padding-left: 0;
  }

  &__header {
    display: flex;
    align-items: flex-end;

    &__photo {
      width: 5rem;
      height: 5rem;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &__user {
      margin-left: 2.5rem;
      @include respond(breakpoint2) {
        margin-left: 0.5rem;
      }
      & :first-child {
        display: block;
        font-size: 1.5rem;
        font-weight: 800;
      }
      & :last-child {
        display: block;
        font-size: 1.5rem;
        color: $color-prymary-text;
      }
    }
    &__reply {
      margin-left: auto;
      font-size: 1.5rem;
      color: $color-primary-blue;
      font-weight: 800;

      & :first-child {
        cursor: pointer;
      }
      &__edit-delete {
        color: $color-prymary-text;
        cursor: pointer;
        & :first-child:hover {
          color: rgba(205, 6, 6, 0.677);
        }
        & :last-child:hover {
          color: rgba(51, 50, 50, 0.508);
        }
      }
    }
  }
  &__text {
    margin-top: 2rem;
    margin-left: 7.5rem;
    text-align: justify;
    color: $color-prymary-text;
    font-size: 1.5rem;
    word-break: break-word;
    @include respond(breakpoint2) {
      margin-left: 5.5rem;
    }

    &__reply-to {
      color: $color-primary-purple;
      font-weight: 600;
    }
  }
}
