.add-feedback-layout {
  width: 54rem;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  overflow: hidden;
  @include respond(breakpoint2) {
    width: 90%;
  }
}
