.grid-layout {
  margin: 10rem auto;
  padding: 0 2rem;
  max-width: 110rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: [feedbackBoard-start]30rem [feedbackBoard-end suggestion-start] 1fr [suggestion-end];
  grid-template-rows:
    [login-start] 7.4rem [feedbackBoard-start] 6.4rem 6.4rem[feedbackFlter-start]7.4rem 7.4rem[roadmap-start] 7.4rem[roadmap-start]
    7.4rem;
}
