.ui-button {
  width: 16rem;
  height: 4.8rem;
  color: white;
  background-color: $color-primary-purple;
  border-radius: 1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: 0px 1px 3px 0px #00000037;
  cursor: pointer;
  @include respond(breakpoint2) {
    width: 13rem;
    height: 3.5rem;
  }

  &:hover {
    background-color: $color-primary-purple-light;
    translate: 0 -2px;
  }
  &--edit {
    background-color: $color-primary-blue;
    &:hover {
      background-color: rgba($color-primary-blue, 0.5);
    }
  }
  &--delete {
    background-color: $color-primary-blue-dark;
    &:hover {
      background-color: rgba($color-primary-blue-dark, 0.5);
    }
  }
  &--login {
    height: 3.6rem;
    cursor: pointer;
  }
  &--filter {
    width: auto;
    height: auto;
    color: $color-primary-blue;
    background-color: $color-primary-grey;
    padding: 0rem 2rem;
    letter-spacing: normal;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    @include respond(breakpoint2) {
      padding: 1rem 2rem;
    }

    &.active {
      background-color: $color-primary-blue;
      color: $color-white;
      box-shadow: 0 0 0 1px $color-white, 0 0 0 3px $color-primary-blue;
    }

    &:hover {
      background-color: $color-primary-blue-hover;
      translate: 0 -2px;
    }
    &:active {
      background-color: $color-primary-blue;
      translate: 0 2px;
    }
  }
  &--cancel {
    width: auto;
    padding: 1rem 2rem;
    background-color: $color-primary-blue-dark;
    &:hover {
      background-color: rgba($color-primary-blue-dark, 0.7);
      translate: 0 -2px;
    }
  }

  &--login-mobile,
  &--register-mobile {
    width: 10rem;
    padding: 1rem;
    background-color: rgb(25, 118, 210);
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      background-color: rgba(rgb(25, 118, 210), 0.7);
    }
  }
  &--register-mobile {
    background-color: rgb(163, 21, 69);
    &:hover {
      background-color: rgba(rgb(163, 21, 69), 0.7);
    }
  }
}
