.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 1rem;

  width: 200px;
  height: 200px;
  margin: 0 auto;

  z-index: 3000;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
